<header class="site-header">
  <div class="wrap">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <p class="site-tagline">{{ site.tagline }}</p>
    <nav class="site-nav">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/home/about/' | relative_url }}">Sthala Puranam</a></li>
        <li><a href="{{ '/home/sri-venkatesa-perumal-kovil/' | relative_url }}">Sri Venkatesa Perumal Kovil</a></li>
        <li><a href="{{ '/home/sri-narayana-theerthar/' | relative_url }}">Sri Narayana Theerthar</a></li>
        <li><a href="{{ '/home/krishna-leela-tharangini/' | relative_url }}">Krishna Leela Tharangini</a></li>
        <li><a href="{{ '/utsavams/' | relative_url }}">Utsavams</a></li>
        <li><a href="{{ '/uriyadi/' | relative_url }}">About Uriyadi</a></li>
        <li><a href="{{ '/visit/' | relative_url }}">Visit</a></li>
        <li><a href="{{ '/faq/' | relative_url }}">FAQ</a></li>
        <li><a href="{{ '/media/' | relative_url }}">News</a></li>
        <li><a href="{{ '/media/videos/' | relative_url }}">Videos</a></li>
        <li><a href="{{ '/about/' | relative_url }}">About</a></li>
        <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
        <li><a href="{{ '/about/contact/' | relative_url }}">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
