<section class="signup">
  <h3>Sign up to join our mailing list. We will keep you posted of important events.</h3>
  <form class="signup-form" action="mailto:varaguronline@gmail.com" method="post" enctype="text/plain">
    <label class="signup-field signup-field-wide">
      <span>Email address <small>(required)</small></span>
      <input type="email" name="email" required>
    </label>
    <div class="signup-row">
      <label class="signup-field">
        <span>First name</span>
        <input type="text" name="first_name">
      </label>
      <label class="signup-field">
        <span>Last name</span>
        <input type="text" name="last_name">
      </label>
    </div>
    <button type="submit" class="signup-submit">Subscribe</button>
  </form>
</section>
